.header{
    height:1000px;
    width:100%;
    background: rgb(131,58,180);
background: linear-gradient(225deg, rgba(131,58,180,1) 0%, rgba(255,7,174,0.8099614845938375) 0%, rgba(252,176,69,1) 100%);
    background-color: rebeccapurple;
}
.header1{
    height:1000px;
    width:100%;
    background-color: snow;
}
.header2{
    height:100%;
    background: rgb(131,58,180);
background: linear-gradient(225deg, rgba(131,58,180,1) 0%, rgba(255,7,174,0.8099614845938375) 0%, rgba(252,176,69,1) 100%);
    background-color: rebeccapurple;
}